.red {
    color: #f33;
  }
  
  .yellow-bg {
    background: #ffa;
  }
  
  .fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
  }

  .black-img {
    border: 5px dotted black;
    border-radius: 10%;
  }

  .intro {
    font-size: 1.3em;
 }

  table, th, td {
    border:1px solid black;
  }

  h2 {
    font-size: 24px;
    color: #c02020;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  ol {
    list-style-type: disc;
    margin-left: 1000px;
  }
  li {
    margin-bottom: 200px;
  }

  a {
    text-decoration: none;
    color: #0073e6;
  }
  a:hover {
    text-decoration: underline;
  }

  

   
